nginx:
  namespace: frozpass

  backend:
    image: xor1234/vault-backend:latest
    replicaCount: 1
    port: 8000
    nodePort: 30081
    serviceType: NodePort
    name: frozpass-backend
    env:
      MASTER_PASSWORD: "change_ceci_par_ton_password_long"
      DATABASE_URL: "sqlite:/data/vault.db?mode=rwc"
    volume:
      enabled: true
      mountPath: /home/appuser/data
      size: 5Gi

  frontend:
    image: xor1234/vault-frontend:latest
    replicaCount: 1
    port: 80
    nodePort: 30080   # Port fixe pour NodePort
    serviceType: NodePort
    name: frozpass-frontend


  ingress:
    enabled: true
    host: frozpass.local
    paths:
      frontend: /
      backend: /api
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /
    tls:
      enabled: false
      secretName: vault-tls